.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
    width: 100%;
    height: 20px;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
    width: 100%;
    height: 20px;
  }
}